.fill-space {
  flex: 1 1 auto;
}

button[mat-icon-button] {
  margin: 10px;
  @media (max-width: 960px) {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

button[mat-button] {
  @media (max-width: 960px) {
    padding: 0;
  }
}

mat-toolbar {
  background: url('/assets/header_bg.jpg') no-repeat center;
  background-size: cover;
  color: white;

  mat-toolbar-row {
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 960px) {
      padding: 0;
      max-width: 100%;
      overflow-x: scroll;
      .mat-tab-link {
        padding: 0 16px;
      }
      h1 {
        display: none;
      }
    }

    &.menu {
      height: auto;

      overflow-x: auto;
    }
  }
}

mat-icon {
  font-size: 20px;
}

.mat-tab-label-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.change-lang {
  width: 100px;

  &.active {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }
}
