.fill-space {
  flex: 1 1 auto;
}

button[mat-icon-button] {
  margin: 10px;
}

mat-toolbar {
  background: url('../../assets/header_bg.jpg');
  color: white;

  mat-toolbar-row {
    background-color: rgba(0, 0, 0, 0.5);
    @media (max-width: 960px) {
      padding: 0;
      .mat-tab-link{
        padding: 0 16px;
      }
    }

    &.menu {
      height: auto;

        overflow-x: auto;
    }
  }
}

mat-icon {
  font-size: 20px;
}

.mat-tab-label-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.change-lang {
  width: 100px;

  &.active {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
  }
}

// ::ng-deep button[mat-icon-button], ::ng-deep .mat-icon-button {
//     font-size: 22px;
//     width: 36px !important;
//     height: 36px !important;
// }
