<section id="timeline">
  <div id="timeline-item-wrapper">
    <mat-card class="provident-1">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{ 'date.2018_february' | translate }}
          - {{'date.nowadays' | translate }}</mat-card-subtitle>
        <mat-card-title>{{ 'workplace.ipf' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'position.architect' | translate  }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content innerHTML="{{ 'jobdesc.provi3' | translate }}">

      </mat-card-content>
    </mat-card>
    <mat-card class="provident-2">
      <mat-card-header>
        <mat-card-subtitle>{{ 'date.2017_march' | translate }}
          - {{ 'date.2018_february' | translate }}</mat-card-subtitle>
        <mat-card-title>{{ 'workplace.ipf' | translate }}</mat-card-title>
        <mat-card-subtitle>Senior IT Developer</mat-card-subtitle>
        <div mat-card-avatar class="header-image"></div>
      </mat-card-header>
      <mat-card-content innerHTML="{{ 'jobdesc.provi2' | translate }}">
      </mat-card-content>
    </mat-card>

    <mat-card class="digic">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{ 'date.2016_sept' | translate }}
          - {{ 'date.2017_march' | translate }}</mat-card-subtitle>
        <mat-card-title>Digic Pictures</mat-card-title>
        <mat-card-subtitle>{{ 'position.seniordev' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content innerHTML="{{ 'jobdesc.digic' | translate }}"></mat-card-content>
    </mat-card>

    <mat-card class="budacode">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{ 'date.2016_february' | translate }}
          - {{ 'date.2016_sept' | translate }}</mat-card-subtitle>
        <mat-card-title>Budacode</mat-card-title>
        <mat-card-subtitle>{{ 'position.fullstack' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content innerHTML="{{ 'jobdesc.budacode' | translate }}">

      </mat-card-content>
    </mat-card>

    <mat-card class="provident-1">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{ 'date.2013_aug' | translate }}
          - {{ 'date.2016_february' | translate }}</mat-card-subtitle>
        <mat-card-title>{{ 'workplace.ipf' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'position.developer' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content innerHTML="{{ 'jobdesc.provi1' | translate }}">
      </mat-card-content>
    </mat-card>

    <mat-card class=" wponline
      ">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{ 'date.2012_apr' | translate }}
          - {{ 'date.2013_aug' | translate }}</mat-card-subtitle>
        <mat-card-title>{{ 'workplace.wpo' | translate }}</mat-card-title>
        <mat-card-subtitle>{{'position.developer' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content innerHTML="{{'jobdesc.wpo' | translate }}">
      </mat-card-content>
    </mat-card>
  </div>
</section>
