<mat-card>
  <mat-card-content>
    <div class="column">
      <div class="avatar"></div>
      <div class="row">
        <div class="row">
          <mat-form-field>
            <input matInput value="{{ 'pData.full_name' | translate }}" readonly
                   placeholder="{{'labels.full_name' | translate }}"/>
            <mat-icon matSuffix>contacts</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput value="{{ 'pData.date_of_birth' | translate }}" readonly
                   placeholder="{{ 'labels.date_of_birth' | translate }}"/>
            <mat-icon matSuffix>calendar_today</mat-icon>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <input matInput value="{{ 'pData.location' | translate }}" readonly
                   placeholder="{{ 'labels.location' | translate }}"/>
            <mat-icon matSuffix>place</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput value="{{ 'pData.email_address' | translate }}" readonly
                   placeholder="{{ 'labels.email_address' | translate }}"/>
            <mat-icon matSuffix (click)="mailContact()">email</mat-icon>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <input matInput value="{{ 'pData.place_of_birth' | translate }}" readonly
                   placeholder="{{ 'labels.place_of_birth' | translate }}"/>
            <mat-icon matSuffix>place</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput value="{{ 'pData.phone_number' | translate }}" readonly
                   placeholder="{{ 'labels.phone_number' | translate }}"/>
            <mat-icon matSuffix (click)="phoneContact()">phone</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
