<mat-card>
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile>
      <mat-form-field>

        <input matInput value="{{ 'full_name' | translate: { default: 'Balazs Gallay' } }}" readonly
               placeholder="{{'lbl_full_name' | translate: { default: 'Full name'} }}"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput value="{{ 'date_of_birth' | translate: { default: '06/09/1989' } }}" readonly
               placeholder="{{ 'lbl_date_of_birth' | translate: { default: 'Date of birth' } }}"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput value="{{ 'location' | translate: { default: 'Hungary, Budapest' } }}" readonly
               placeholder="{{ 'lbl_location' | translate: { default: 'Location' } }}"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput value="{{ 'email_address' | translate: { default: 'gallayb@gmail.com' } }}" readonly
               placeholder="{{ 'lbl_email_address' | translate: { default: 'E-mail' } }}"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput value="{{ 'place_of_birth' | translate: { default: 'Hungary, Budapest' } }}" readonly
               placeholder="{{ 'lbl_place_of_birth' | translate: { default: 'Birth place' } }}"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput value="{{ 'phone_number' | translate: { default: '+36 20 234 3963' } }}" readonly
               placeholder="{{ 'lbl_phone_number' | translate: { default: 'Phone number' } }}"/>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
