mat-card {
  max-width: 960px;
  margin: 15px auto;
  padding: 0;
  .avatar {
    content: '';
    background-size: contain;
    background: url("/assets/me.jpg") no-repeat top center;
    width: 225px;
    height: auto;
  }
  @media (max-width: 990px) {
    margin: 15px;

  }

  mat-form-field {
    margin: 15px;
  }

  .column {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .row {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
